<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="configuration-container">
    <h3>Configuration Page</h3>
   
    <label for="products">Select Product:</label>
    <select id="products" [(ngModel)]="selectedProduct">
    <option *ngFor="let product of products">Id: {{ product.id }} Name: {{ product.name }} Price:$ {{product.price}}</option>
    </select>

    <label for="locations">Select Location:</label>
    <select id="locations" [(ngModel)]="selectedLocation">
      <option *ngFor="let location of locations">
        <p>State: {{ location.state }}</p>
        <p>Location: {{ location.location }}</p>
        <p>City: {{ location.city }}</p>
        <p>Country: {{ location.country }}</p>
        <p>Zip Code: {{ location.zipCode }}</p>
      </option>
    </select>

    

    <button (click)="enableProduct()">Enable</button>

    <div class="product-details">
      <h4>Product Details</h4>
      <div class="location-info">
        <p><strong>Product Name:</strong> {{ selectedProduct }}</p>
        <p><strong>Location:</strong> {{ selectedLocation }}</p>
      </div>
    </div>
    
    <button (click)="saveConfiguration()">Save Configuration</button>
    
  </div>
</body>
</html>